<div class="card mb-4">
    <div class="card-body">
        <h4 class="card-title">{{survey.title}}</h4>
        <p class="card-subtitle">{{survey.description}}</p>
        <small class="card-text">Creator: {{survey.user.username}}</small>
    </div>
</div>